@model List<ShoesStore.Models.Blog>

@{
    ViewData["Title"] = "Blog List";
}

<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/karma-master/img/blog/cat-post/cat-post-3.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Social Life</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Enjoy your social life together</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/karma-master/img/blog/cat-post/cat-post-2.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Politics</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Be a part of politics</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/karma-master/img/blog/cat-post/cat-post-1.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Food</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Let the food be finished</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container blog-section">
    <h2 class="text-center mb-4">Blog List</h2>

    <div class="row">
        @foreach (var blog in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
                <div class="card shadow-sm w-100">
                    <img src="@Url.Content($"~/img/blog/{blog.Anhdaidien}")"
                         class="card-img-top"
                         alt="Blog Image"
                         style="height: 225px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@blog.Theloai</h5>
                        <p class="card-text flex-grow-1">
                            @Html.Raw(blog.Noidung.Substring(0, Math.Min(blog.Noidung.Length, 100)))...
                        </p>
                        <a href="@Url.Action("Detail", "Blog", new { id = blog.Mablog })"
                           class="btn btn-outline-primary mt-auto">View More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    /* Override CSS của theme gây co cột */
    .blog-section .row {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: flex-start !important;
        margin-left: -15px;
        margin-right: -15px;
    }

    .blog-section .col-lg-4 {
        flex: 0 0 33.3333% !important;
        max-width: 33.3333% !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Giữ card đều và ảnh không méo */
    .blog-section .card {
        width: 100%;
        height: 100%;
    }

    .blog-section img.card-img-top {
        width: 100%;
        height: 225px;
        object-fit: cover;
    }


    }</style>


